body{
  background-color: #c7ccd1;
}

.intro, .dice {
  margin: 0 auto;
  text-align: center;
}

/* .game {
  display:none;
} */

.activePlayer {
  box-shadow: -3px -5px 15px  10px #90ee90;
  font-size: 20px;
  font-weight: bold;
}
